* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

/* Prompt Container */

.Insert-Prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  z-index: 2;
}


.Prompt-Navbar {
  width: 100%;
  height: 18%;
  background: #c38d95;
  display: flex;
  position: relative;
}


.Close-Prompt{
  height: 1.5rem;
  position: absolute;
  right: 25px;
  top: 12px;
  cursor: pointer;
}

.Prompt-nav-heading {
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.Prompt-right-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  /* row-gap: 2rem; */
}

.priorities-select-text {
  display: inline-block;
  margin-right: 5%;
}

#Create-Note-Title {
  margin-bottom: 5%;
  border: none;
}

#Create-Note-Description {
  height: 40%;
  border: none;
}

.date {
  margin-top: 20%;
  margin-bottom: 5%;
}

.Priorities {
  width: 75%;
}

#Create-Note-Due-Date {
  width: 28%;
  border: 1px solid #3ba395;
  color: #3ba395;
}

.Prompt-form {
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
}

.radio-labels {
  width: 19%;
  text-align: center;
  border-radius: 5px;
}

.radio-label-1{
  border: 2px solid green;
  color: green;
}


.radio-label-2{
  border: 2px solid yellow;
  color: yellow;
}


.radio-label-3{
  border: 2px solid red;
  color: red;
}

input[type ="submit"]
{
  color: #3ba395;
  background-color: transparent;
  border: 1px solid #3ba395;
  border-radius: 20px;
  width: 100%;
}
.submit{
  width: 20%;
}

.hidden{
  display: none;
  z-index: -1;
}

.visible{
  /* display: block; */
  z-index: 10;
}
/* Main Container */

#wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.container {
  height: 100%;
  margin: auto;
}

.blur {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 8%;
  background: #c38d95;
  display: flex;
  overflow-y: hidden;
  position: relative;
}

.nav-heading {
  height: 55px;
  padding: 10px;
  font-size: 2rem;
  width: 200px;
  color: white;
  font-weight: bold;
  overflow-y: hidden;
  letter-spacing: 3px;
}

.To-Do-icon {
  height: 40px;
  width: 50px;
  margin: auto -35px;
}

.Bottom-container {
  width: 100%;
  height: 92%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.left-container {
  background-color: #eee;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 15%;
}

.left-Upper-contents {
  width: 100%;
  height: 60%;
}

.left-Upper-contents ul li {
  width: 100%;
  margin: 20px;
  transition: transform 3000ms;
  transform-origin: left;
  list-style: none;
}

.left-Upper-contents ul li:hover {
  transform: scale(1.3);
  font-weight: bold;
}

.left-lower-contents {
  position: relative;
  height: 60px;
  width: 50px;
  border-radius: 50%;
  background-color: #c38d95;
  bottom: 15px;
  left: 5px;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-container {
  width: 100%;
}
